*.o
*.out
*.dblite
.nimcache/
nimcache/
htmldocs/
*.exe
*.dll
*.so
*.dylib
bin/
.env.local
.DS_Store
node_modules/
dist/
.vscode/
*.swp
*.swo
*~
*.log
*.sh
*.env
docker-compose.yaml
build/croacia_mvp
